Source: droidian-apt-config
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian/droidian-apt-config
Vcs-Git: https://github.com/droidian/droidian-apt-config.git

Package: droidian-apt-config
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Breaks: hybris-mobian-apt-config (<< 10+git20210324000000)
Replaces: hybris-mobian-apt-config (<< 10+git20210324000000)
Description: APT configurations for Droidian
 This package contains various APT configurations and Pins
 for Droidian.

Package: droidian-apt-config-staging
Architecture: all
Pre-Depends: apt
Depends: ${misc:Depends}
Description: APT configurations for Droidian (staging)
 This package contains various APT configurations and Pins
 for Droidian.
 .
 This packages allows to track Droidian-staging.
